*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/build
/google-services.json
/modules.xml

.idea/modules.xml
.idea/misc.xml
Cred.properties
Debug.properties
app/Cred.properties
app/Debug.properties
app/Cred.properties
app/Debug.properties
